HTML CSSResult Skip Results Iframe EDIT ON
/* table properties */

.col-wrap {
  display: table;
  width: 100%;
}

.col {
  display: table-cell;
  padding: 1rem
}

.col:nth-child(2) {
  border-top: black solid 1px;
  background-color: orange;
}

.col:nth-child(3) {
  border: black solid 1px;
  border-radius: 0px 30px 30px 0px;
  background-color: yellow;
}