HTML CSSResult Skip Results Iframe EDIT ON
/* table properties */

.col-wrap {
  display: table;
  width: 100%;
  border: black solid 2px;
}

.col {
  display: table-cell;
  padding: 1rem
}

.col:nth-child(even) {
  background-color: orange;
}

.col:nth-child(odd) {
  background-color: yellow;
}