/* HTML CSSResult Skip Results Iframe EDIT ON */
/* table properties */

.col-wrap {
  display: table;
  width: 10px;
}

.col {
  display: table-cell;
  padding: 0.5rem
}

.col-number {
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  background-color: #FFFFFF;
}

.col-plus {
  border: black solid 1px;
  border-radius: 0px 30px 30px 0px;
  background-color: #FFFFFF;
  cursor: pointer;
}


.col-minus {
  border: black solid 1px;
  border-radius: 30px 0px 0px 30px;
  background-color: #FFFFFF;
  cursor: pointer;
  color: rgba(180, 173, 173, 0.593)F;
  font-size: 0.6rem;
}