HTML CSSResult Skip Results Iframe EDIT ON
/* table properties */

.col-wrap {
  display: table;
  width: 100%;
}

.col {
  display: table-cell;
  padding: 1rem;
  background-color: #FFFFFF;
}

.col-number {
  border-top: rgb(71, 70, 70)FF solid 1px;
  border-bottom: rgb(62, 61, 61)FF solid 1px;
}

.col-plus {
  border: rgb(71, 70, 70)FF solid 1px;
  border-radius: 0px 30px 30px 0px;
  cursor: pointer;
}


.col-minus {
  border: rgb(71, 70, 70)FF solid 1px;
  border-radius: 30px 0px 0px 30px;
  cursor: pointer;
}