HTML CSSResult Skip Results Iframe EDIT ON
/* table properties */

.col-wrap {
  display: table;
  width: 100%;
}

.col {
  border: black solid 1px;
  display: table-cell;
  padding: 1rem
}

.col:nth-child(even) {
  background-color: orange;
  border-radius: 10px;
}

.col:nth-child(odd) {
  background-color: yellow;
}