/* HTML CSSResult Skip Results Iframe EDIT ON */
/* table properties */

.col-wrap {
  display: table;
  width: 100%;
}

.col {
  display: table-cell;
  padding: 1rem
}

.col-number {
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  background-color: orange;
}

.col-plus {
  border: black solid 1px;
  border-radius: 0px 30px 30px 0px;
  background-color: ;
  cursor: pointer;
}


.col-minus {
  border: black solid 1px;
  border-radius: 30px 0px 0px 30px;
  background-color: yellow;
  cursor: pointer;
}