* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

*::-moz-selection {
  background-color: var(--main-color);
  color: var(--white);
}

*::selection {
  background-color: var(--main-color);
  color: var(--white);
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

html {
  /* font-size: 62.5%; */
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}