@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Bebas+Neue&family=Borel&family=Cabin&family=Montserrat&family=Oswald:wght@200&family=Roboto:wght@500&display=swap');



:root {
  --title-color: rgb(67, 67, 67);
  --line-color: #adabab37;
  --main-color: #F7F7F7;
  --bcg-detail-color: #f8f8f8;
  --labels-color: #fdf7f7;
  --product-purchase-table: #ffffff;
  --hover-color: #bd4040;
  --star-color: #EABE12;
  --black: #191717;
  --white: #fff;
  --light-color: #eac794;
  --border: .2rem solid var(--black);
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  --fontcolor: #777777;
  --old-price: #BBBBBB;
}

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

*::-moz-selection {
  background-color: var(--bcg-detail-color);
  color: var(--white);
}

*::selection {
  background-color: var(--bcg-detail-color);
  color: var(--white);
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--li);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

/*detail-wrapper  */
.detail-wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: var(--bcg-detail-color);
  height: 650px;
  overflow: hidden;
  /* align-items: stretch; */
}

.product-view {
  font-size: 2rem;
  margin: 20px 20px 40px 20px;
  width: 100%;
  height: 580px;
  /* height: 100; */
  overflow: hidden;
  position: relative;
}

.product-view .product-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: #333 solid 1px;
}

.product-view .product-labels {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  margin: 15px;
  display: flex;
  flex-direction: column;
  width: 50px;
}

.product-view .product-labels .product-onsale,
.product-view .product-labels .product-feature {
  border-radius: 20px;
  background-color: var(--labels-color);
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1.1rem;
  font-weight: 900;
}


.product-content {
  width: 100%;
  margin: 20px 20px 20px 30px;
  width: auto;
}

.header-detail {
  background-color: var(--bcg-detail-color);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-detail .path-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  position: relative;
  padding: 0 2rem;
}


.header-detail .path-detail .product-path a,
.header-detail .path-detail .product-name {
  margin-left: 0.5rem;
  font-size: 1.4rem;
  color: var(--fontcolor);
  text-decoration: none;
  font-weight: 800;
}

.header-detail .path-detail .product-name {
  color: var(--black);
  font-family: 'Roboto', sans-serif;
  font-weight: 150;
}

.header-detail .path-detail .product-path a:hover:not(.icon-division) {
  text-decoration: underline;
  color: var(--black);
  text-decoration: none;
}

.header-detail .product-management {
  font-size: 1.5rem;
  color: var(--black);
  cursor: pointer;
}

.header-detail .product-management .product-large {
  margin: 0 10px
}

.content-detail {
  margin: 28px 0px 0px 25px;
  display: grid;
  grid-template-columns: 60% 40%;
  overflow: hidden;
  height: 350px;
}

.content-detail .product-information {
  margin-right: 10px;
}

.content-detail .product-information .product-title {
  font-family: 'Anton', sans-serif;
  font-size: 3rem;
  font-weight: 250;
  color: var(--title-color);
}

.content-detail .product-information .product-reviews {
  margin: 10px 0px 20px 0px;
}

.content-detail .product-information .product-reviews .icon-star {
  margin-right: 0.3rem;
  color: var(--star-color);
  font-size: 1.6rem;
}

.content-detail .product-information .product-reviews .customer-review {
  color: var(--fontcolor);
  font-size: 1.3rem;
  margin-left: 5px;
}

.content-detail .product-information .product-reviews .customer-review .customer-review-link {
  color: var(--fontcolor);
  font-size: 1.6rem;
  font-weight: 800;
}

.content-detail .product-information .product-reviews .customer-review .customer-review-link:hover {
  color: var(--black);
}

.content-detail .product-information .product-description {
  color: var(--fontcolor);
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 45px;
}

.content-detail .product-information .orther-information {
  height: 80px;
  display: grid;
  grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
  border-bottom: var(--line-color) outset 2px;
}

.content-detail .product-information .orther-information .release-date,
.publisher,
.developer {
  font-size: 1.6rem;
  font-weight: 600;
  display: grid;
  grid-template-rows: 35% 35%;
}

.content-detail .product-information .orther-information .orther-title {
  color: var(--black);
  font-family: 'Roboto', sans-serif;
  font-weight: 150;
}

.content-detail .product-information .orther-information .info {
  color: var(--fontcolor);
}

.content-detail .product-information .orther-information .dev-link {
  color: var(--black);
}

.content-detail .product-information .orther-information .dev-link:hover {
  color: var(--hover-color)
}

.product-purchase-table {
  width: 100%;
  background-color: var(--product-purchase-table);
  padding: 25px;
  border-radius: 10px;
  /* font-family: 'Roboto', sans-serif; */
}

.product-purchase-table .product-price {
  font-family: 'Roboto', sans-serif;
  font-size: 2.3rem;
  font-weight: 900;
}

.product-purchase-table .product-price .old-price {
  text-decoration: line-through;
  color: var(--old-price);
}

.product-purchase-table .product-price .current-price {
  color: var(--hover-color);
}

.product-purchase-table .platform {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 30% 70%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  align-items: center;
  height: 50px;
}

.product-purchase-table .platform .plat-text {
  font-weight: 800;
}

.product-purchase-table .platform .plat-dropdown {
  display: flex;
  border: var(--line-color) solid 2px;
  border-radius: 20px;
  padding: 8px;
  font-size: 1.3rem;
  align-items: center;
  justify-content: space-between;
  color: var(--fontcolor);
}

.product-purchase-table .platform .plat-dropdown .icon-down {
  color: var(--fontcolor);
  font-weight: 100;
}

@media(max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media(max-width: 768px) {
  .product-management {
    display: inline-block;
  }
}

@media(max-width: 450px) {
  html {
    font-size: 50%;
  }
}