@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap");

:root {
  --main-color: #8e6f50;
  --black: #333;
  --white: #fff;
  --light-color: #666;
  --border: .2rem solid var(--black);
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

*::-moz-selection {
  background-color: var(--main-color);
  color: var(--white);
}

*::selection {
  background-color: var(--main-color);
  color: var(--white);
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

.detail-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* align-items: stretch; */
}

.product-view {
  font-size: 2rem;
  margin: 20px;
  width: 470px;
  overflow: hidden;
  position: relative;
}

.product-view .product-img {
  object-fit: contain;
  max-height: 100%;
  width: 100%;
  border-radius: 10px;
}

.product-view .product-labels {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.product-view .product-labels .product-onsale {
  border-radius: 10px;
  background-color: #FFFFFF;
  text-align: center;
  margin: 20px;
}

.product-view .product-labels .product-feature {
  border-radius: 10px;
  background-color: #FFFFFF;
  text-align: center;
}


.header-detail {
  /* padding: 3rem 2rem; */
  margin: 20px;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-detail .path-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  position: relative;
  padding: 1.5rem 2rem;
}

.header-detail .path-detail .product-path {
  margin-left: 2rem;
  font-size: 2rem;
  color: var(--black);
}

.header-detail .path-detail .product-path a,
span {
  margin-left: 2rem;
  font-size: 2rem;
  color: var(--black);
}

.header-detail .path-detail .product-path a:hover {
  text-decoration: underline;
  color: var(--main-color);
}

.product-management {
  font-size: 2.5rem;
  color: var(--black);
  cursor: pointer;
}

@media(max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media(max-width: 768px) {
  .product-management {
    display: inline-block;
  }
}

@media(max-width: 450px) {
  html {
    font-size: 50%;
  }
}