@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap");

:root {
  --main-color: #8e6f50;
  --black: #333;
  --white: #fff;
  --light-color: #666;
  --border: .2rem solid var(--black);
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

*::-moz-selection {
  background-color: var(--main-color);
  color: var(--white);
}

*::selection {
  background-color: var(--main-color);
  color: var(--white);
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

.detail-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.product-content {}

.header-detail {
  /* position: -webkit-sticky;
  position: sticky; */
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  z-index: 1000;
  display: flex;
}

.header-detail .path-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  padding: 1.5rem 2rem;
}

.header-detail .path-detail .product-path {
  margin-left: 2rem;
  font-size: 2rem;
  color: var(--black);
}

.header-detail .path-detail .product-path a:hover {
  text-decoration: underline;
  color: var(--main-color);
}